@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-green-100: #{$green-100};
    --bs-green-200: #{$green-200};
    --bs-green-300: #{$green-300};
    --bs-green-400: #{$green-400};
    --bs-green-500: #{$green-500};
    --bs-green-600: #{$green-600};
    --bs-green-700: #{$green-700};
    --bs-green-800: #{$green-800};
    --bs-green-900: #{$green-900};
}